* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  display: block;
  text-decoration: none;
}
img {
  vertical-align: bottom;
}
header {
  height: 45px;
  width: 100%;
  background-color: #b751c0;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-weight: 500;
  line-height: 45px;
  z-index: 99;
}
header .lt_title {
  font-size: 16px;
}
header .lt_search,
header .lt_back {
  font-size: 18px;
  font-weight: 800;
  position: absolute;
  top: 0;
}
footer {
  height: 50px;
  width: 100%;
  background-color: #b751c0;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  z-index: 99;
}
footer a {
  display: block;
  width: 25%;
  float: left;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
footer a span {
  font-size: 12px;
  padding-top: 2px;
  display: block;
  width: 100%;
}
